extends layouts/layout

block content
  .contentContainer
    .addressContainer
      .addressTitle Address
      .addressHash #{address.hash}
    .card
      header.card-header
        h1.card-header-title Address Summary
      .card-content
        .columns
          .column
            .blockFullLabel Received
            .blockFullDetail=prettyPrintHNS(address.balance.received)
          .column
            .blockFullLabel Spent
            //- XXX This value is not accurate for real txs
            .blockFullDetail=prettyPrintHNS(address.balance.spent)
          .column
            .blockFullLabel Balance
            .blockFullDetail=prettyPrintHNS(address.balance.confirmed)
    if (address.txs.length > 0)
      - let txs = address.txs;
      include includes/transactionList.pug
