extends layouts/layout

block content
  .contentContainer
    .card
      header.card-header
        p.card-header-title Transactions by Block
      .card-content 
        //- div.txTitle 
        table.table.anon
          thead
            tr
              th Hash
            tbody
              include includes/listTxs
