<nav class="navbar is-white" role="navigation" aria-label="main navigation">
  <div class="navbarContainer">
    <!-- Handshake Alliance Logo -->
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/img/logo.svg" width="40" height="28">
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start" style="width: 100%;">
        <a id="blocks" class="navbar-item navOption {{#if (match this.templateName 'blocks')}} is-active {{/if}}" href="/blocks">Blocks</a>
        <a class="navbar-item navOption {{#if (match this.templateName 'names')}} is-active {{/if}}" href="/names">Names</a>
        <div class="navbar-item has-dropdown is-hoverable navDropdown">
          <a class="navbar-link navOption">
            More
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://github.com/HandshakeAlliance/HNScan" target="_blank">
              About
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="https://github.com/HandshakeAlliance/HNScan/issues" target="_blank">
              Report an issue
            </a>
          </div>
        </div>
      </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field">
            <div class="control has-icons-left">
              <input class="input is-rounded searchbar" type="text" placeholder="Search the HNS Blockchain" maxlength="64" onkeypress="catchEnter(event)">
              <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
