<nav class="pagination is-centered paginationNav" role="navigation" aria-label="pagination">
  <a {{#unless (match page 1)}}href="/{{url}}?p={{previousPage}}&amt={{amount}}"{{/unless}} class="pagination-previous"{{#if (match page 1)}}disabled{{/if}}>Previous</a>
  <a {{#unless (match page lastPage)}}href="/{{url}}?p={{nextPage}}&amt={{amount}}"{{/unless}} class="pagination-next" {{#if (match page lastPage)}}disabled{{/if}}>Next page</a>
  <ul class="pagination-list">
    {{#if (match page 1)}}
      <li><a class="pagination-link is-current" aria-label="Page {{page}}" aria-current="page">{{page}}</a></li>
      <li><a href="/{{url}}?p={{nextPage}}&amt={{amount}}" class="pagination-link" aria-label="Goto page {{nextPage}}">{{nextPage}}</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a href="/{{url}}?p={{lastPage}}&amt={{amount}}" class="pagination-link" aria-label="Goto page {{lastPage}}">{{lastPage}}</a></li>
    {{else if (match page 2)}}
      <li><a href="/{{url}}?p=1&amt={{amount}}"class="pagination-link" aria-label="Goto page 1">1</a></li>
      <li><a class="pagination-link is-current" aria-label="Page {{page}}" aria-current="page">{{page}}</a></li>
      <li><a href="/{{url}}?p={{nextPage}}&amt={{amount}}" class="pagination-link" aria-label="Goto page {{nextPage}}">{{nextPage}}</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a href="/{{url}}?p={{lastPage}}&amt={{amount}}" class="pagination-link" aria-label="Goto page {{lastPage}}">{{lastPage}}</a></li>
    {{else if (match page 3)}}
      <li><a href="/{{url}}?p=1&amt={{amount}}" class="pagination-link" aria-label="Goto page 1">1</a></li>
      <li><a href="/{{url}}?p={{previousPage}}&amt={{amount}}"class="pagination-link" aria-label="Goto page {{previousPage}}">{{previousPage}}</a></li>
      <li><a class="pagination-link is-current" aria-label="Page {{page}}" aria-current="page">{{page}}</a></li>
      <li><a href="/{{url}}?p={{nextPage}}&amt={{amount}}" class="pagination-link" aria-label="Goto page {{nextPage}}">{{nextPage}}</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a href="/{{url}}?p={{lastPage}}" class="pagination-link" aria-label="Goto page {{lastPage}}">{{lastPage}}</a></li>
    {{else if (match page twoFromLastPage)}}
      <li><a href="/{{url}}?p=1&amt={{amount}}"class="pagination-link" aria-label="Goto page 1">1</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a href="/{{url}}?p={{previousPage}}&amt={{amount}}"class="pagination-link" aria-label="Goto page {{previousPage}}">{{previousPage}}</a></li>
      <li><a class="pagination-link is-current" aria-label="Page {{page}}" aria-current="page">{{page}}</a></li>
      <li><a href="/{{url}}?p={{nextPage}}&amt={{amount}}" class="pagination-link" aria-label="Goto page {{nextPage}}">{{nextPage}}</a></li>
      <li><a href="/{{url}}?p={{lastPage}}&amt={{amount}}" class="pagination-link" aria-label="Goto page {{lastPage}}">{{lastPage}}</a></li>
    {{else if (match page almostLastPage)}}
      <li><a href="/{{url}}?p=1&amt={{amount}}"class="pagination-link" aria-label="Goto page 1">1</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a href="/{{url}}?p={{previousPage}}&amt={{amount}}"class="pagination-link" aria-label="Goto page {{previousPage}}">{{previousPage}}</a></li>
      <li><a class="pagination-link is-current" aria-label="Page {{page}}" aria-current="page">{{page}}</a></li>
      <li><a href="/{{url}}?p={{lastPage}}&amt={{amount}}" class="pagination-link" aria-label="Goto page {{lastPage}}">{{lastPage}}</a></li>
    {{else if (match page lastPage)}}
      <li><a href="/{{url}}?p=1&amt={{amount}}"class="pagination-link" aria-label="Goto page 1">1</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a href="/{{url}}?p={{previousPage}}&amt={{amount}}"class="pagination-link" aria-label="Goto page {{previousPage}}">{{previousPage}}</a></li>
      <li><a class="pagination-link is-current" aria-label="Page {{page}}" aria-current="page">{{page}}</a></li>
    {{else}}
      <li><a href="/{{url}}?p=1&amt={{amount}}"class="pagination-link" aria-label="Goto page 1">1</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a href="/{{url}}?p={{previousPage}}&amt={{amount}}" class="pagination-link" aria-label="Goto page {{previousPage}}">{{previousPage}}</a></li>
      <li><a href="/{{url}}?p={{page}}&amt={{amount}}" class="pagination-link is-current" aria-label="Page {{page}}" aria-current="page">{{page}}</a></li>
      <li><a href="/{{url}}?p={{nextPage}}&amt={{amount}}" class="pagination-link" aria-label="Goto page {{nextPage}}">{{nextPage}}</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a href="/{{url}}?p={{lastPage}}&amt={{amount}}" class="pagination-link" aria-label="Goto page {{lastPage}}">{{lastPage}}</a></li>
    {{/if}}
  </ul>
</nav>
