.blockFullDetail {
  text-align: center;
}

.blockFullLabel {
  font-weight: 800;
  text-align: center;
}

.tableContainer {
  width: 100%;
}

.txsContainer {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid var(--border-color);

  &:first-child {
    padding: 0;
  }

  &:last-child {
    padding: 0;
    border-bottom: 0;
  }
}

.txHashWrapper {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  padding: 10px 0 10px 0;
}

.txsTitle {
  font-size: 16px;
  font-weight: 600;
}

.txsPutsContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.inputContainer {
  width: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.inputTX {
  padding: 10px;
}

.outputContainer {
  width: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.outputTX {
  padding: 10px;
}

.hash {
  font-size: 12px;
}
