.errorSection {
  min-height: 500px;
  text-align: center;
}

.errorHeader {
  font-size: 64px;
  font-weight: 700;
}

.errorSubtext {
  font-size: 12px;
}

.container404 {
  display: flex;
  font-size: 108px;
}

.hugeBlock {
  width: 80px;
  height: auto;
  opacity: 0.7;
  margin-right: 4px;
}
