/* --- Setup --- */
.footer {
  height: auto;
  padding: 0 80px 5px 80px;
  margin: 0;
  background-color: #fefefe;

  /* @media (max-width: $tablet) {
    height: 500px;
    padding: 0 30px 5px 30px;
  } */

  @media (max-width: $tablet) {
    padding: 0 30px 5px 30px;
  }

  @media (max-width: $mobile) {
    padding: 0 15px 5px 15px;
  }
}

.footerContent {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  /* border: 1px solid red; */
  margin-bottom: 50px;
  overflow-x: visible;

  @media (max-width: $mobile) {
    padding-top: 0;
  }
}

/* --- Footer Columns --- */
.footerColumn {
  height: auto;
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile) {
    padding: 10px 0;
  }
}

.hnscan {
  min-width: 170px;

  @media (max-width: $mobile) {
    padding-top: 5px;
  }
}

.footerColumn .logoMessage {
  display: block;
  margin: 5px 0;
  color: #717171;
}

.linksContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.linksContainer .footerColumn {
  flex-grow: 1;
  min-width: 100px;
  flex-wrap: wrap;
  align-items: center;
}

.containerOne {
  display: flex;
  flex-grow: 1;
}

.columnTitle {
  color: #000;
  font-size: 10pt;
  letter-spacing: 0.5px;
  font-weight: bold;
}

.contactColumn {
  margin-top: 30px;
}

.columnItem {
  font-weight: normal;
  color: #717171;
  margin-top: 5px;
}

.contactColumn .contactItem {
  margin-top: 2px;
  color: #717171;

  &:hover {
    color: #000;
  }
}

.columnLink {
  color: #717171;

  &:hover {
    color: #000;
  }
}


/* --- Legal Content --- */
.legalContent {
  height: 10%;
  width: 100%;
  font-size: 8pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
