/* --- Setup --- */
.footer {
  height: auto;
  margin: 0;
  padding: 0 80px 5px 80px;
  background-color: #fefefe;
  @media (max-width: $tablet) { padding: 0 30px 5px 30px; }
  @media (max-width: $mobile) { padding: 0 15px 5px 15px; }
}

.footerContent {
  height: auto;
  width: 100%;
  margin-bottom: 50px;
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  overflow-x: visible;
  @media (max-width: $mobile) {
    padding-top: 0;
    margin-bottom: 35px;
    flex-direction: column;
    align-items: center;
  }
}

.footerColumn {
  height: auto;
  display: flex;
  flex-direction: column;
  @media (max-width: $mobile) { padding: 20px 0; }
}

/* --- Footer Columns --- */
.hnscan {
  min-width: 170px;
  @media (max-width: $mobile) {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 170px;
    text-align: center;
  }
}

.footerColumn .logoMessage {
  margin: 5px 0;
  color: #717171;
  @media (max-width: $mobile) { margin-top: 15px; }
}

.linksContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.linksContainer .footerColumn {
  min-width: 100px;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.containerOne {
  display: flex;
  flex-grow: 1;
}

.containerOne .columnTitle { align-items: center; }

.firstHalf {
  margin-bottom: 10px;
  @media (max-width: $mobile) { margin-bottom: 0; }
}

.contactColumn {
  margin: 20px 0 10px 0;
  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.contactColumn .contactItem {
  margin-top: 2px;
  color: #717171;
  &:hover { color: #000; }
}

.columnTitle {
  color: #000;
  font-size: 10pt;
  letter-spacing: 0.5px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 100px;
  @media (max-width: $mobile) { width: 100px; }
}

.columnItem {
  font-weight: normal;
  color: #717171;
  margin: 5px 0;
  @media (max-width: $mobile) { margin: 5px 0; }
}

.columnLink {
  color: #717171;
  &:hover { color: #000; }
}

.logoText {
  margin-top: 10px;
  @media (min-width: $mobile) { margin-top: 0;}
}


/* --- Legal Content --- */
.legalContent {
  height: 10%;
  width: 100%;
  font-size: 8pt;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
