/* ---- Imports ---- */
@import "variables.css";
@import "base.css";
@import "navbar.css";
@import "home.css";
@import "about.css";
@import "block.css";
@import "footer.css";
@import "summaryCard.css";
@import "peers.css";
@import "errors.css";
@import "address.css";
@import "airdrop.css";
@import "airdropclaim.css";

span, div, section, h1, h2, h3, h4, h5, h6 {
  color: var(--text-color-normal);
}

/* ----- TRANSACTION SUMMARY ----- */
.txSection {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txContainer {
  height: auto;
  width: 80%;

  @media (max-width: 768px) {
    width: 95%;
  }
}

.txTitle {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 10px;
  font-size: 30px;
  letter-spacing: 1px;
}

.detailContainer {
  height: 80%;
  width: 60%;
  display: flex;
}

/* ----- NAMES SUMMARY ----- */
.namesSection {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.namesContainer {
  height: auto;
  margin: 10px auto;
  width: 95%;
}

/* ----- BLOCKS SUMMARY ----- */
.blocksSection {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blocksContainer {
  height: auto;
  margin: 10px auto;
  width: 95%;
}

/* ----- Table CSS ----- */
.anon {
  width: 100%;
}

.contentSection {
  flex: 1;
}

.blockContainer {
  display: flex;
  flex-direction: row;
}

.blockTableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paginationNav {
  margin-top: 50px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline;
}

/* Label/Element styles */
.stacked {
  display: flex;
  flex-direction: column;
}

.stackedLabel {
  font-weight: 800;
  font-size: 14px;
}

.stackedElement {
  font-size: 12px;
  word-wrap: break-word;
  word-break: break-all;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: $tooltip-colors;
  color: #fff;
  text-align: center;
  padding: 5px 7px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -150px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $tooltip-colors transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
