.navbar {
  align-items: center;
  background: var(--background);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  flex-direction: row;
  height: $navbar-height;
  justify-content: center;
  width: 100%;
}

.navbar-item, .navbar-link {
  background-color: var(--background);
  color: var(--text-color-normal);
}

a.navbar-item:hover,
a.navbar-link:hover,
a.navbar-burger:hover,
.navbar-item.has-dropdown:hover .navbar-link {
  background-color: var(--background-hover);
}

.navbar-menu {
  background-color: var(--background);
}

.navbar-dropdown {
  background-color: var(--background);
  border-top: 1px solid var(--border-color);
}
.navbar-dropdown a.navbar-item:hover{
  color: var(--text-color-link--hover);
  background-color: var(--background-hover);
}

.navbar-divider {
  background-color: var(--border-color);
}

.navbarContainer {
  width: 90%;
  display: flex;
  align-items: center;
}


.navOption {
  margin: 0 10px;
  padding: 10px 15px;
  justify-content: center;
}

.fa-search {
  padding-left: 20px !important;
}

.hiddenSearchSubmit {
  position: absolute;
  cursor: pointer;
  top: 4px;
  left: 10px;
  height: 30px;
  opacity: 0;
  width: 40px;
  z-index: 10;
}

.searchbar {
  width: 350px;
  border-width: 1.25px;
  padding-left: 55px !important;
}

.searchbar:focus,
.searchbar:hover {
  outline: none;
  box-shadow: none;
}

@media only screen and (max-width: $tablet) {
  .navbar-brand {
    width: 100%;
  }

  .navbar-menu {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
  }

  .navbar-dropdown {
    height: 0;
    overflow: hidden;
    transition: height 1s ease;
  }

  .navbar-dropdown-visible {
    height: auto;
    margin-left: 12px;
    transition: height 1s ease;
  }
}
