.navbar {
  width: 100%;
  height: $navbar-height;
  border-bottom: 1px solid rgb(222, 222, 222);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.navbarContainer {
  width: 90%;
  display: flex;
  align-items: center;
}


.navOption {
  margin: 0 10px;
  padding: 10px 15px;
  justify-content: center;
}

.fa-search {
  padding-left: 20px !important;
}

.hiddenSearchSubmit {
    position: absolute;
    border: 1px solid #000;
    cursor: pointer;
    top: 4px;
    left: 10px;
    height: 30px;
    opacity: 0;
    width: 40px;
    z-index: 10;
}

.searchbar {
  width: 350px;
  border-width: 1.25px;
  padding-left: 55px !important;
}

.searchbar:focus,
.searchbar:hover {
  outline: none;
  box-shadow: none;
}

@media only screen and (max-width: $tablet) {
  .navbar-brand {
    width: 100%;
  }

  .navbar-menu {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
  }

  .navbar-dropdown {
    height: 0;
    overflow: hidden;
    transition: height 1s ease;
  }

  .navbar-dropdown-visible {
    height: auto;
    margin-left: 12px;
    transition: height 1s ease;
  }
}
