$tablet: 1087px;
$mobile: 30em;

$navbar-height: 60px;
$footer-height: 400px;

$footer-background-color: #f5f5f5;
$border-color: #dbdbdb;
$urkel-color: #ee8c3a;
$dark-gray-color: #696969;
$tooltip-colors: #555555;
