@import 'src/variables';
@import 'src/theme-variables';

.navbar {
  background: var(--background);
  // border-bottom: 1px solid var(--border-color);
  box-shadow: 0px 1px 12px -1px rgba(0,0,0,0.30);
  display: flex;
  height: $navbar-height;
  justify-content: center;
}

.navbar-item { height: 58px !important; }

.navbar-start { width: 100%; }

.navbarContainer {
  width: 95%;
  display: flex;
  align-items: center;

  @media (min-width: 1024px) {
    width: 90%;
  }
}

.navOption {
  padding: 0 25px;
  justify-content: center;
}

.fa-search {
  color: var(--search-icon);
  padding-left: 20px !important;
}

.hiddenSearchSubmit {
  position: absolute;
  cursor: pointer;
  top: 4px;
  left: 10px;
  height: 30px;
  opacity: 0;
  width: 40px;
  z-index: 10;
}

.searchbar {
  min-width: 300px;
  border-width: 1.25px;
  padding-left: 55px !important;
  // Bulma Style Overrides
  background: var(--searchbar-background-color);
  border: 1px solid var(--searchbar-border-color);
  color: var(--text-color-normal);
  &:focus { box-shadow: none !important; }
  &::placeholder { color: var(--text-color-light); }
}

@media only screen and (max-width: 1023px) {
  .navbar-brand {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center !important;
  }
}

/* ----- THEME OVERRIDES ----- */
.navbar-item,
.navbar-link {
  background-color: var(--background);
  color: var(--text-color-normal);
}

a.navbar-item:hover,
a.navbar-link:hover,
a.navbar-burger:hover,
.navbar-item.has-dropdown:hover .navbar-link { background-color: var(--background-hover); }

.navbar-menu { background-color: var(--background); }

.navbar-dropdown {
  background-color: var(--background);
  border-top: 1px solid var(--border-color);
  padding: 0 !important;
  margin-top: 0.5px;
}
.navbar-dropdown a.navbar-item:hover {
  color: var(--text-color-link) !important;
  background-color: var(--background-hover);
}

.navbar-divider { background-color: var(--border-color); }
