.version,
.copyright {
  font-size: 8pt;
}

/* Bulma Outline Override */
.switch[type='checkbox'] + label::before,
.switch[type='checkbox']:checked + label:before {
  outline: none !important;
}
.switch[type='checkbox'] + label::after,
.switch[type='checkbox']:checked + label:after {
  outline: none !important;
}
