footer.footerSection
  span.source
    | Current Version: v#{currentVersion() + " "}
    a(href="https://github.com/HandshakeAlliance/HNScan") Source
  .footerContainer
    .leftContainer
      a.companyLink(href="https://handshakealliance.org" target="_blank" rel="noopener noreferrer")
        .haContainer
          img(src="/img/HAlogo.svg" height="50" width="50")
          span.logoTitle Handshake Alliance
      a.companyLink(href="https://urkel.io" target="_blank" rel="noopener noreferrer")
        .urkelContainer
          span.poweredBy Powered By
          span.urkel URKEL
    .spacer
    .centerContainer
      span.linksTitle Links
      a(class="link" href="https://github.com/HandshakeAlliance" target="_blank" rel="noopener noreferrer") GitHub
      a(class="link" href="https://twitter.com/HNSalliance" target="_blank" rel="noopener noreferrer") Twitter
      a(class="link" href="https://medium.com/@handshakealliance" target="_blank" rel="noopener noreferrer") Medium
      a(class="link" href="https://handshake.org" target="_blank" rel="noopener noreferrer") Handshake
    .spacer
    .rightContainer
      span.linksTitle Related
      a(class="link" href="https://handshakealliance.org" target="_blank" rel="noopener noreferrer") Handshake Alliance
      //- a(class="link" href="#" disabled) Wallet Generator
      span.linkDisabled Wallet Generator
      a(class="link" href="https://faucet.handshakealliance.org" target="_blank" rel="noopener noreferrer") Testnet Faucet
      a(class="link" href="https://handshake.org/files/handshake.txt" target="_blank" rel="noopener noreferrer") White Paper
