section.footer
  .footerContent
    .hnscan
      include ../../public/img/logo.svg
      .logoMessage
        .logoText Your trusted source for on chain Handshake information.
      .columnTitle.contactColumn CONTACT
        .columnItem
          a(class="contactItem" href="mailto:engineering@urkel.io") engineering@urkel.io
    .linksContainer
      .containerOne
        .footerColumn.firstHalf
          .columnTitle EXPLORE
            .columnItem
              a(class="columnLink" href="/") Home
            .columnItem
              a(class="columnLink" href="/about") About
            .columnItem
              a(class="columnLink" href="/blocks") Blocks
            .columnItem
              a(class="columnLink" href="/names") Names
        .footerColumn
          .columnTitle TOOLS
            .columnItem
              a(class="columnLink" href="/peers") Peers
            .columnItem
              a(class="columnLink" href="/status") Node Status
            // .columnItem
            //   a(class="columnLink" href="/airdrop") Airdrop Stats
            .columnItem
              a(class="columnLink" href="/airdropclaim") Airdrop Claim
      .containerOne
        .footerColumn
          .columnTitle RELATED
            .columnItem
              a(class="columnLink" href="https://handshakeacademy.org" target="_blank" rel="noopener noreferrer") Academy
            .columnItem
              a(class="columnLink" href="https://urkel.io" target="_blank" rel="noopener noreferrer") Urkel
            //- .columnItem
            //- a(class="columnLink" href="https://faucet.handshakealliance.org" target="_blank" rel="noopener noreferrer") Faucet
            .columnItem
              a(class="columnLink" href="https://handshake.org/files/handshake.txt" target="_blank" rel="noopener noreferrer") Paper
        .footerColumn
          .columnTitle FOLLOW
            .columnItem
              a(class="columnLink" href="https://github.com/HandshakeAlliance" target="_blank" rel="noopener noreferrer") Github
            .columnItem
              a(class="columnLink" href="https://medium.com/@handshakealliance" target="_blank" rel="noopener noreferrer") Medium
            .columnItem
              a(class="columnLink" href="https://twitter.com/HNSalliance" target="_blank" rel="noopener noreferrer") Twitter
  .legalContent
    div.field
      input(id="themeSwitch" type="checkbox" class="switch is-rounded is-outlined" onclick="toggleTheme(event)" autocomplete="off")
      label(for="themeSwitch")
    span.source
      | Current Version: v#{currentVersion() + " "}
      a(href="https://github.com/HandshakeAlliance/HNScan" target="_blank" rel="noopener noreferrer") Source
    | &copy; Handshake Alliance. All Rights Reserved.
