//- // - (address) ? txs = address.txs : txs = txs
//- // - for (tx of txs)
//- //   tr
//- //     td
//- //       +tooltip("/tx/" + tx.hash, tx.hash)
//- //     td.tooltip
//- //       a.is-hidden-tablet.minerLinks(href="/tx/" + tx.hash) #{truncateHash(tx.hash, 10)}
//- //       a.is-hidden-mobile.minerLinks(href="/tx/" + tx.hash) #{tx.hash}
//- //       span.is-hidden-tablet.tooltiptext #{tx.hash}
