script.
  let currentTheme = localStorage.getItem('theme');
  let isChecked = localStorage.getItem('checked');

  if (!currentTheme) {
    localStorage.setItem('theme', 'light');
    localStorage.setItem('checked', 'false');
    currentTheme = 'light';
    ischecked = 'false';
  }
  if (currentTheme === 'dark' && isChecked === 'true') {
    document.documentElement.setAttribute('data-theme', 'dark');
  }
