script.
  let currentTheme = localStorage.getItem('theme');
  if (!currentTheme) {
    localStorage.setItem('theme', 'light');
    currentTheme = 'light';
  }

  if (currentTheme === 'dark') {
    document.documentElement.setAttribute('data-theme', 'dark')
  }
  console.log('current theme:', currentTheme)