@import './variables';
@import './theme-variables';

// Bulma Toggle Switch Styles - NPM Package
@import 'bulma';
@import '~bulma-switch';

html {
  // Bulma override
  background-color: var(--background) !important;
}

body {
  margin: 0;
  font-family: 'Anonymous Pro', 'Inconsolata', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div, h1, h2, h3, h4, h5, h6, span {
  color: var(--text-color-normal);
}


table {
  // Bulma override - assumes our tables are _always_ in a card
  background-color: var(--card-background) !important;
}

table td, table th {
  // Bulma override
  border-bottom: 1px solid var(--border-color) !important;
}

// Bulma override
.hnscan-link {
  color: var(--text-color-link) !important;

  // &:visited { color: var(--text-color-link--visited) !important }
  &:hover { color: var(--text-color-link--hover) !important; }
}

.pagination-link,
.pagination-previous,
.pagination-next {
  color: var(--text-color-normal);
  background-color: var(--background);
  margin: 0 10px;
  &:hover {
    color: var(--text-color-normal);
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
    }
  }
  &:focus {
    border-color: var(--border-color);
  }
}
